<div class="exceptions-list">
    <a href="#" class="exceptions-list__close-button">
        <svg class="exceptions-list__icon--close"><use xlink:href="#close"></use></svg>
    </a>
    <h2 class="exceptions-list__heading">Exceptions:</h2>
    <p class="exceptions-list__text">{{ exceptionsList.exceptionsList|default }}</p>
</div>