<div class="scroll-indicator js-scroll-indicator">
	<ul class="scroll-indicator__items js-scroll-indicator-items"></ul>
	<div class="scroll-indicator__stepper js-section-stepper">
		<div class="scroll-indicator__previous js-section-step-previous"></div>
		<div class="scroll-indicator__next js-section-step-next"></div>
	</div>
</div>