{% set tabs = [
	{
		name: 'Sign In',
		url: '/members/sign-in',
		active: craft.app.request.segments|last == 'sign-in',
	},
	{
		name: 'Sign Up',
		url: '/members/sign-up',
		active: craft.app.request.segments|last == 'sign-up',
	},
] %}
{% set navbar = 'small' %}

{% extends "_layouts/_layout.twig" %}

{% if title is not defined %}
  {% set title = 'Change Password' %}
{% endif %}

{% block hero %}
  {% embed "_page-builder-components/hero-small.twig" with {
      component: {
        image: entry.heroImage.one.getUrl() ?? alias('@assetBaseUrl/img/members-banner.jpg'),
      }, title: title|default('') } %}
  {% endembed %}
{% endblock %}

{% block content %}
  {% embed '_layouts/_section.twig' with { narrow: true } %}
    {% block body %}
      <form method="post" accept-charset="UTF-8" class="js-checkout-account-change-password">
        {{ actionInput('users/save-user') }}
        {{ hiddenInput('userId', currentUser.id) }}
        {{ csrfInput() }}
        <div class="container">



          <div class="checkout__form-row">
            {% include "_forms/text-input" with {
              name: 'password',
              type: 'password',
              label: 'Current Password',
              blockClass: 'member',
              cssClass: 'form__input-wide',
              type: 'password',
              instruction: 'Please enter your current password.'
            } %}
          </div>

          <div class="checkout__form-row">
            {% include "_forms/text-input" with {
              name: 'newPassword',
              type: 'password',
              label: 'New Password',
              blockClass: 'member',
              cssClass: 'form__input-wide',
              type: 'password',
            } %}

            {% include "_forms/text-input" with {
              name: 'confirmPassword',
              type: 'password',
              label: 'Confirm New Password',
              blockClass: 'member',
              cssClass: 'form__input-wide',
              type: 'password',
            } %}
          </div>
          <br>

          <div class="checkout__form-row--center">
            <input type="submit" value="Change Password" class="signin-submit modal-panel-sign-in__button modal-panel-sign-in__button--submit">
          </div>
        </div>
      </form>

    {% endblock %}
  {% endembed %}
{% endblock %}