{% set tabs = [
	{
		name: 'Sign In',
		url: '/members/sign-in',
		active: craft.app.request.segments|last == 'sign-in',
	},
	{
		name: 'Sign Up',
		url: '/members/sign-up',
		active: craft.app.request.segments|last == 'sign-up',
	},
] %}

{% embed "_layouts/_layout.twig" with { navbar: 'small' } %}

    {% if title is not defined %}
      {% set title = 'Welcome to The Yalumba Wine Club' %}

      {% if currentUser %}
        {% set title = 'Welcome '~currentUser.firstName|capitalize %}
      {% endif %}
    {% endif %}


    {% if cart is not defined %}
      {% set cart = craft.commerce.carts.cart %}
    {% endif %}

    {% block hero %}
      {% embed "_page-builder-components/hero-small.twig" with {
          component: {
            focalPoint: entry.bannerImage.one|default ? entry.bannerImage.one.focalPoint : '',
            image: entry.heroImage.one.getUrl() ?? alias('@assetBaseUrl/img/members-banner.jpg'),
          }, title: title|default('') } %}
      {% endembed %}
    {% endblock %}


    {% block content %}
      {% embed '_layouts/_section.twig' with { narrow: true } %}
      {% block body %}

        {% set states = craft.commerce.states.allStatesAsList %}

        <h2 class="purchaces__heading">Reset your password</h2>
        <p>Please enter your email address to reset your password. You will receive an email shortly with a link to complete your password update. </p>

        <form method="post" accept-charset="UTF-8" class="js-forgot-password-form">

          <div class="container">

            <div class="checkout__form-row">
              {{ csrfInput() }}
              {{ actionInput('users/send-password-reset-email') }}

              {% include "_forms/text-input" with {
                name: 'loginName',
                label: 'Email Address*',
                blockClass: 'member',
                value: craft.app.user.rememberedUsername,
                cssClass: 'form__input-wide',
                type: 'email',
              } %}
            </div><br>

            <div class="js-msg"></div>

            <div class="checkout__form-row--center">
              <input type="submit" value="Submit" class="signin-submit modal-panel-sign-in__button modal-panel-sign-in__button--submit">
            </div>
          </div>
        </form>
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}