{% set tabs = [
	{
		name: 'Sign In',
		url: '/members/sign-in',
		active: craft.app.request.segments|last == 'sign-in',
	},
	{
		name: 'Sign Up',
		url: '/members/sign-up',
		active: craft.app.request.segments|last == 'sign-up',
	},
] %}

{% embed "_layouts/_layout.twig" with { navbar: 'small' } %}

    {% if title is not defined %}
      {% set title = 'Welcome to The Yalumba Wine Club' %}

      {% if currentUser %}
        {% set title = 'Welcome '~currentUser.firstName|capitalize %}
      {% endif %}
    {% endif %}


    {% if cart is not defined %}
      {% set cart = craft.commerce.carts.cart %}
    {% endif %}

    {% block hero %}
      {% embed "_page-builder-components/hero-small.twig" with {
          component: {
            image: entry.heroImage.one.getUrl() ?? alias('@assetBaseUrl/img/members-banner.jpg'),
          }, title: title|default('') } %}
      {% endembed %}
    {% endblock %}


    {% block content %}
      {% embed '_layouts/_section.twig' with { narrow: true } %}
      {% block body %}
        <p class="center">Your password has been successfully changed. You are now logged in to your account and have access to member benefits. <br /><br /></p>
        <p class="center">
            <a class="modal-panel-sign-in__button modal-panel-sign-in__button--submit" href="/members/my-membership">View Your Membership</a>
        </p>
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}