# Set in accordance to your environment
# Set in accordance to your environment

DB_DRIVER="mysql"
DB_SERVER="localhost"
DB_USER="root"
DB_PASSWORD="root"
DB_DATABASE="craftnew"
DB_SCHEMA=""
DB_TABLE_PREFIX="craft"
DB_PORT="3306"
SECURITY_KEY="abcde12345"

SLACK_WEBHOOK="https://www.hooks.slack.com"
WEBDRIVER_URL="https://yalumba:pock.satisfy.puffin@yalumba-dev.kojolabs.com/"
WEBDRIVER_HOST="localhost"
WEBDRIVER_PORT="4444"
WEBDRIVER_BROWSER="chrome"

# Staging Site ENVS
#SLACK_WEBHOOK="https://hooks.slack.com/services/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"
#WEBDRIVER_URL='https://yalumba:pock.satisfy.puffin@yalumba-dev.kojolabs.com/'
#WEBDRIVER_HOST='mark.williamskojo:X6VOv5AJo4XlwDaHB89fkYWmSbgW9pby3KwcExNTKTTFDRqXn6@hub.lambdatest.com'
#WEBDRIVER_PORT='80'
#WEBDRIVER_BROWSER='chrome'
