<div class="number-field product__button product__button--qty">
  <button type="submit" class="number-field__minus minus js-update-cart">-</button>
  <input type="number" name="{{ name|default('qty') }}" value="{{ value|default(1) }}" class="number-field__input" pattern="[0-9\.]+">
  <button type="submit" class="number-field__plus plus js-update-cart">+</button>
</div>