{% set user = craft.commerce.customers.customer.user %}
  {% if craft.app.request.segments|last != 'cart' or  craft.app.request.segments|last != 'checkout' %}
    {% embed "_layouts/_modal" with { modalID: 'cart-summary', modalClass: user|default ? 'modal--signed-in' : '', user: user } %}

    {% block content %}

      {% if user is null %}
        <div class="cart-summary__col cart-summary__col--left collapsible modal__col">
          <div class="">
            <h2 class="cart-summary__heading collapsible__trigger modal__heading">
              <span>Sign in</span>
              <svg class="cart-summary__panel-trigger-icon collapsible__icon"><use xlink:href="#chevron"></use></svg>
            </h2>
          </div>
          {% include "shop/_modals/partials/modal-panel-sign-in" %}
        </div>
      {% endif %}

      <div class="cart-summary__col cart-summary__col--right modal__col">
        <h2 class="cart-summary__heading modal__heading">Cart Summary</h2>
        <div class="js-ajax-update--cart-summary">
          {% include "shop/_cart/cart-summary" %}
        </div>
        <div class="cart-footer-buttons">
          <a href="/shop/cart" class="cart-footer-buttons__continue-link">View all items</a>
          <a href="/shop/checkout" class="cart-footer-buttons__continue-button">Checkout</a>
        </div>
      </div>
    {% endblock %}
  {% endembed %}
{% endif %}