<li class="cart-item__product">
  <div class="cart-item__detail">
    <h3 class="cart-item__heading">The Signature Gala – A Celebration of Tradition</h3>
    <p class="cart-item__sub-text">
        No. of Tickets: 2<br>
        Date: Saturday, September 6<br>
        Time: 7:00pm–11:00pm<br>
    </p>
  </div>
  <div class="cart-item__options">
    <div class="cart-item__right">
      <div class="cart-item__price">$200</div>
      <a href="#" class="cart-item__remove">Remove</a>
      <a href="#" class="cart-item__remove">Change this booking</a>
    </div>
  </div>
</li>
