<div class="cart-summary__col cart-summary__col--right modal__col js-wishlist">
  <h2 class="cart-summary__heading modal__heading">Your <em>Wishlist</em></h2>

  <wishlist-summary></wishlist-summary>
</div>