{% embed '_cards/_card.twig' with { type: 'tasting', image: bannerImage.one }%}
	{% block details %}
		<h3 class="card-tasting__title">{{ title | typogrify }}</h3>
		<div class="card-tasting__description">{{ eventShortDescription | typogrify }}</div>
		<div class="card-tasting__price">
			<span>$</span>
			<span>{{ price|currency('AUD', stripZeros = true)|trim('$') }} </span>
			<span>{{ ticketTypeText|default('per person') }}</span>
		</div>
		<div class="card-tasting__button">Book this Tasting</div>
	{% endblock %}
{% endembed %}