<div class="card-accordion">
	<div class="card-accordion__title">
		<h3>{{ title | typogrify }}</h3>
	</div>
	<div class="card-accordion__details-mask">
		<div class="card-accordion__details">
			{{ description | typogrify }}
		</div>
	</div>
</div>