<div class="modal-panel-sign-in__panel collapsible__panel">
    <ul class="modal-panel-sign-in__list">
      <li><a href="/members/my-membership">View your membership</a></li>
      <li><a href="/members/update-account-details">Update account details</a></li>
      <li><a href="/members/my-purchases">View your purchases</a></li>
    </ul>

    <a href="{{ logoutUrl }}" class="modal-panel-sign-in__button">Sign out</a>
  </div>