<div class="back-button">
  <a href="{{ url(url|default('#')) }}" class="back-button__link js-back-button">
    <svg class="back-button__chev"><use xlink:href="#chev-heavy"></use></svg>
    <span>Back</span>
  </a>
</div>